*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.background{
    background-image: url(../images/background.jpg);
    height: 600px;
    background-color: black;
    opacity: 0.4;
    box-shadow: 92px 25px 478px black inset;
    
    
}
.wafae{
    position: relative;
    bottom: 590px;
}
.logoheader{
    margin-left: 500px;
   
}
.logoheader img{
    width: 150px;
    height: 60px;
    margin-left: 90px;
}
.logoheader .logo,.carre{
    display: inline-block;
    
}
.carre{
    position: relative;
    left:480px;
    top: -30px;
    width: 90px;
    height: 40px;
    background-color:REd;
    font-size: 15px;
   color: white;
   border: none;
    border-radius: 8px;
}
    
 h1{
 margin-left: 450PX;
 color: white;
 font-size: 70px;
 margin-top: 30px;
}
h4{
    margin-left: 480px;
    font-size: 20px;
    color:white;
    margin-top:4px;
   
}
.butwatch{
    position: absolute;
}
.butwatch {
    background-color: REd;
    margin-left: 114px;
    font-size: 15px;
    border: none;
    margin-top: 223px;
    height: 35px;
    width: 18%;
    margin: ;
    right: 548px;
   width: 18%;
   position: absolute;
}
.butwatch a{
    color: white;
    text-decoration: none;
}
.carre a{
    color: white;
    text-decoration: none;

}

