*{
    padding: 0;
    margin: 0;
}
.foot1{
    width: fit-content
    

}
.foot2{
    width: fit-content
}
.foot3{
    
    width: fit-content
}
.foot4{
    position: relative;
    top: 8px;
    width: fit-content
    
}
.footer1{
    list-style: none;
}

.footer2{
    list-style: none;
   
}
.footer3{
    list-style: none;
}
.color{
    color: gray;
}
.foot2,.foot3,.foot4,.foot5{
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 30px;
      
}
.foot1{
    margin-bottom: 30px;
    margin-left: 100px ;
}

.foot6{
    list-style: none;
    
}
footer li{
    padding: 3%  0;
}
.foot5{
    position: relative;
    top:-26px;
}
footer{
    background-color: black;
    
   
}

.langue{
    margin-left: 50% 0;
}
footer ul li a{
    color: gray;
text-decoration: none;
 

}
.foot1 ,.foot1 a {

    transform: translateY(23px);
    text-decoration:none ;
}

